body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: black;
    font-size: 22px;
    color: seashell;
    font-family: Helvetica, sans-serif;
    text-align: center;
    opacity: 0.9;
    width: 100%;
    justify-content: center;
}
header{
    display: flex;
    align-items: center;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    width: 100%;
    justify-content: space-between;
}

/*-----------------------------------*/
/* Menu de Navigation */
.logo {
    height: 50px;
    padding: 10px;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    padding-right: 10px;
}
nav ul li a {
    color: seashell;
    gap: 10px;
}
/*----------------------------------*/
/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 50px;
}

/*-----------------------------------*/
/* page de bienvenue (landing page) */
#landing-page {
    display: flex;
    height: 700px;
    width: 1200px;
    background-image: url('./images/img-mission-background.jpg');
    align-items: center;
}
#landing-page .content{
    background-color: black;
    width: 100%;
}


/*------------------------------------*/
/* products */
#teas {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.tea-box img {
    width: 300px;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.tea-box {
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px darkslategrey;
}
.tea-box:hover {
    box-shadow: 10px 10px 30px lightslategray;
}

.tea-details {
    width: 100%;
}

/*----------------------------------*/
/* Locations */

#locations {
    background-size: cover;
    width: 1000px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url('./images/img-locations-background.jpg');
}
.locations {
    display: flex;
}
.location {
    width: 300px;
    margin: 0 20px;
    opacity: 0.7;
    background-color: grey;
    box-shadow: 5px 5px 15px darkslateblue;
}
.location:hover {
    border: 2px solid seashell;
    background-color: black;
    cursor: pointer;
}

/*----------------------------------*/
/* Footer */
section footer h2 {
    background-color: transparent;
    color: gray;
    font-weight: 800;
    font-size: 39px;
    letter-spacing: -1px;
}
footer p {
    margin-left: 20px;
    padding-bottom: 50px;
    position: absolute;
}